<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/dashboard}">Family Tree</a>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <!--<a class="menubar-brand" href="index.html"><i class="fa fa-user fa-fw"></i> Logout</a>-->
        <a class="menubar-brand" th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
    </ul>


    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li th:classappend="${menu == 'dashboard'} ? active">
                    <a th:classappend="${menu == 'dashboard'} ? active" th:href="@{/dashboard}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>

                <li th:classappend="${menu == 'createGroup' or menu == 'listGroup'} ? active">
                    <a href="#"><i class="fa fa-group fa-fw"></i> Groups<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:classappend="${menu == 'createGroup'} ? active" th:href="@{/group/createGroup}">New Group</a>
                        </li>
                        <li>
                            <a th:classappend="${menu == 'listGroup'} ? active" th:href="@{/group/listGroup}">Show Groups</a>
                        </li>
                    </ul>
                </li>

                <li th:classappend="${menu == 'addMember' or menu == 'listMember'} ? active">
                    <a href="#"><i class="fa fa-user fa-fw"></i> Members<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:classappend="${menu == 'addMember'} ? active" th:href="@{/member/addMember}">New Member</a>
                        </li>
                        <li>
                            <a th:classappend="${menu == 'listMember'} ? active" th:href="@{/member/listMember}">Show Members</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>