<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header"></head>
<style>
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none !important;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
.file-preview{
	width: 172px;
	height: 172px;
}
</style>
<body>

    <div id="wrapper">

        <nav th:include="/common/sidebar"></nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Members</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Add New Member
                        </div>
                        <div class="panel-body">
                            <form role="form" th:action="@{/member/addMember}" th:object="${member}" method="POST" enctype="multipart/form-data">
                            	<div class="row">
					            	<div class="col-xs-12">
										<div id="kv-avatar-errors" class="center-block" style="width: 800px; display: none"></div>
										<div class="kv-avatar center-block pull-right" style="width: 160px; text-align: center; margin-right: 15px;">
											<input id="profilePicture" name="profilePicture" type="file" class="file-loading">
											<input type="hidden" th:field="*{profilePicEdited}"/>
										</div>
										<!-- <img th:src="@{/member/getAvatar/4}" /> -->
									</div>
					            </div>
                                <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? has-error">
                                        <label>First Name</label>
                                        <input class="form-control" th:field="*{firstName}">
                                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('middleName')} ? has-error">
                                        <label>Middle Name</label>
                                        <input class="form-control" th:field="*{middleName}">
                                        <label th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? has-error">
                                        <label>Last Name</label>
                                        <input class="form-control" th:field="*{lastName}">
                                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Gender</label>
                                        <div class="radio">
                                            <label style="padding-right: 15px; padding-bottom: 5px;">
                                                <input type="radio" th:field="*{gender}" value="0" checked>Male
                                            </label>
                                            <label>
                                            <input type="radio" th:field="*{gender}" value="1">Female
                                        </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Birthdate</label>
                                        <!--<input class="form-control" th:field="*{birthdate}" id="datepicker">-->
                                        <input class="form-control" id="birthDate" th:field="*{birthDate}">
                                    </div>

                                    <div class="form-group">
                                        <label>Anniversary</label>
                                        <input class="form-control" id="anniversaryDate" th:field="*{anniversaryDate}">
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('fatherMemberValue')} ? has-error">
                                        <label>Father Name</label>
                                        <input class="form-control" id="father" name="father">
                                        <input class="form-control" type="hidden" th:field="*{fatherMemberValue}">
                                        <label th:if="${#fields.hasErrors('fatherMemberValue')}" th:errors="*{fatherMemberValue}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('motherMemberValue')} ? has-error">
                                        <label>Mother Name</label>
                                        <input class="form-control" id="mother" name="mother">
                                        <input class="form-control" type="hidden" th:field="*{motherMemberValue}">
                                        <label th:if="${#fields.hasErrors('motherMemberValue')}" th:errors="*{motherMemberValue}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
                                        <label>Email</label>
                                        <input class="form-control" th:field="*{email}">
                                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Groups</label>
                                        <select multiple="multiple" class="form-control selectpicker" th:field="*{groups}">
                                            <option th:each="group : ${groups}" th:value="${{group.id}}" th:text="${group.name}"></option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="id" th:value="*{id}" />
                                    <input type="hidden" th:if="${id != null}" name="address.id" th:value="*{address.id}" />
                                    <input type="hidden" th:if="${id != null}" id="fatherValue" name="fatherValue" th:value="*{fatherValue}" />
                                    <input type="hidden" th:if="${id != null}" id="motherValue" name="motherValue" th:value="*{motherValue}" />
                                    <input type="hidden" th:if="${id != null}" name="address.member" th:value="*{id}" />
                                    <input type="hidden" th:if="${id != null}" name="createdOn" th:value="*{createdOn}" />
                                    <input type="hidden" th:if="${id != null}" name="createdOn" th:value="*{updatedOn}" />
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group" th:classappend="${#fields.hasErrors('address.line1')} ? has-error">
                                        <label>Line1</label>
                                        <input class="form-control" th:field="*{address.line1}">
                                        <label th:if="${#fields.hasErrors('address.line1')}" th:errors="*{address.line1}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('address.line2')} ? has-error">
                                        <label>Line2</label>
                                        <input class="form-control" th:field="*{address.line2}">
                                        <label th:if="${#fields.hasErrors('address.line2')}" th:errors="*{address.line2}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('address.landmark')} ? has-error">
                                        <label>Landmark</label>
                                        <input class="form-control" th:field="*{address.landmark}">
                                        <label th:if="${#fields.hasErrors('address.landmark')}" th:errors="*{address.landmark}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('address.city')} ? has-error">
                                        <label>City</label>
                                        <input class="form-control" th:field="*{address.city}">
                                        <label th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('address.zipcode')} ? has-error">
                                        <label>Zipcode</label>
                                        <input class="form-control" th:field="*{address.zipcode}">
                                        <label th:if="${#fields.hasErrors('address.zipcode')}" th:errors="*{address.zipcode}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('address.state')} ? has-error">
                                        <label>State</label>
                                        <input class="form-control" th:field="*{address.state}">
                                        <label th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('address.country')} ? has-error">
                                        <label>Country</label>
                                        <input class="form-control" th:field="*{address.country}">
                                        <label th:if="${#fields.hasErrors('address.country')}" th:errors="*{address.country}" class="validation-message"></label>
                                    </div>

                                    <div class="form-group">
                                        <label>Landline Number</label>
                                        <input class="form-control" th:field="*{phones[0].number}">
                                        <input type="hidden" th:if="${member.phones[0].id != null}" th:field="*{phones[0].id}" th:value="*{phones[0].id}"/>
                                        <input type="hidden" th:if="${member.phones[0].id != null}" th:field="*{phones[0].member}" th:value= "*{phones[0].member}"/>
                                        <input type="hidden" th:field="*{phones[0].type}" th:value="*{phones[0].type}"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Mobile Number</label>
                                        <input class="form-control" th:field="*{phones[1].number}">
                                        <input type="hidden" th:if="${member.phones[1].id != null}" th:field="*{phones[1].id}" th:value="*{phones[1].id}"/>
                                        <input type="hidden" th:if="${member.phones[1].id != null}" th:field="*{phones[1].member}" th:value="*{phones[1].member}"/>
                                        <input type="hidden" th:field="*{phones[1].type}" th:value="*{phones[1].type}"/>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                                    </div>
                                    <div class="col-lg-6">
                                        <button type="reset" class="btn btn-warning">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    // A $( document ).ready() block.
    $( document ).ready(function() {

        if($("#fatherMemberValue").val() != ''){
            $('input#father').val($("#fatherValue").val());
        }

        if($("#motherMemberValue").val() != ''){
            $('input#mother').val($("#motherValue").val());
        }

    });

    $("#birthDate").datepicker({
        inline: true,
        maxDate: 0
    });

    $("#anniversaryDate").datepicker({
        inline: true,
        maxDate: 0
    });
    
    $("#profilePicture").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/images/avatar.png" alt="Your Avatar" style="width:160px">',
        layoutTemplates: {main2: '{preview} {remove} {browse}', footer:''},
        allowedFileExtensions: ["jpg", "png"]
    });
    $('#profilePicture').on('change', function(event) {
        $('#profilePicEdited').val(true);
    });
    $('#profilePicture').on('fileclear', function(event) {
        $('#profilePicEdited').val(true);
    });
    
    function renderAvatar(imgStr,isDefault){
    	var defaultAvatarDiv = $(".file-default-preview");
    	var newPreviewDiv = $('<div>').addClass('file-preview-frame krajee-default kv-preview-thumb');
    	newPreviewDiv.attr("id","preview-1234");
    	newPreviewDiv.attr("data-fileindex","0");
    	newPreviewDiv.attr("data-template","image");
    	newPreviewDiv.attr("style","width: 97%;");
    	var imgTag = $('<img>');
    	if(isDefault){
    		imgTag.attr("src","/images/avatar.png");
    	}else{
    		imgTag.attr("src","data:image/jpg;base64,"+imgStr);
    		imgTag.addClass('file-preview-image kv-preview-data rotate-1');
    	}
    	imgTag.attr("title","sample.jpg");
    	imgTag.attr("alt","sample.jpg");
    	imgTag.attr("width","160px;");
    	imgTag.attr("height","160px;");
    	var newFileContentDiv = $('<div>').addClass('kv-file-content');
    	newFileContentDiv.append(imgTag);
    	newPreviewDiv.append(newFileContentDiv);
    	defaultAvatarDiv.replaceWith(newPreviewDiv);
    }
    
    var memberId = $("input[name=id]").val();
    console.log(memberId);
    if(memberId != ""){
    	$.ajax({
            url: "/member/getAvatar/encoded/"+memberId,
            success: function(result){
            	//console.log(result);
            	if(result==""){
            		renderAvatar(result,true);
            	}else{
            		renderAvatar(result,false);
            	}
            },
            error: function(error){
            	console.log(error);
            	alert("Error while fetching user avatar!");
            }
        });
    }
    

    $('#father').autocomplete({
        minLength: 1,
        delay: 100,
        source: function (request, response) {
            $.getJSON("/member/getMember?term=" + request.term, function (data) {
                response($.map(data, function (value) {
                    return {
                        label: value.name,
                        value: value.name,
                        dataValue: value.id
                    };
                }));
            });
        },
        select: function (event, ui) {
            $("input#father").attr("dataValue",ui.item.dataValue);
            $("input#fatherMemberValue").val(ui.item.dataValue);
        }
    });


    $('input#father').on("blur", function() {
        if(typeof $(this).attr("dataValue") === "undefined"){
            $("#fatherMemberValue").val($(this).val());
        }else{
            $("#fatherMemberValue").val($(this).attr("dataValue"));
        }
    });

    $('#mother').autocomplete({
        minLength: 1,
        delay: 100,
        source: function (request, response) {
            $.getJSON("/member/getMember?term=" + request.term, function (data) {
                response($.map(data, function (value) {
                    return {
                        label: value.name,
                        value: value.name,
                        dataValue: value.id
                    };
                }));
            });
        },
        select: function (event, ui) {
            $("input#mother").attr("dataValue",ui.item.dataValue);
            $("input#motherMemberValue").val(ui.item.dataValue);
        }
    });

    $('input#mother').on("blur", function() {
        if(typeof $(this).attr("dataValue") === "undefined"){
            $("#motherMemberValue").val($(this).val());
        }else{
            $("#motherMemberValue").val($(this).attr("dataValue"));
        }
    });
</script>

<footer th:include="/common/footer"></footer>

</html>