<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header"></head>
<link rel="stylesheet" href="../css/tree-hierarchy-view.css">
<link rel="stylesheet" href="../css/tree.css">

<body>

<div id="wrapper">

    <nav th:include="/common/sidebar"></nav>


    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <section class="management-hierarchy">
                    <div class="hv-container">
                        <div class="hv-wrapper">

                            <!-- Key component -->
                            <div class="hv-item">

                                <!-- Root -->
                                <div th:classappend="${not #lists.isEmpty(familyTree.children) ? 'hv-item-parent' : 'hv-item-child'}">
                                    <div class="person">
                                        <img th:src="${familyTree.photoStr}" alt="">
                                        <p class="name" th:text="${familyTree.name}">
                                        </p>
                                    </div>
                                </div>

                                <!-- Child -->
                                <div th:fragment="fragment_node(familyTree)" th:remove="tag">
                                    <div class="hv-item-children">
                                        <div class="hv-item-child" th:each="child : ${familyTree.children}">
                                            <div class="hv-item" th:if="${not #lists.isEmpty(child.children)}">
                                                <div th:classappend="${not #lists.isEmpty(child.children) ? 'hv-item-parent' : 'hv-item-children'}">
                                                    <div class="person">
                                                        <img th:src="${child.photoStr}" alt="">
                                                        <p class="name" th:text="${child.name}">
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="hv-item-child" th:replace="this::fragment_node(${child})"></div>
                                            </div>
                                            <div class="hv-item" th:if="${#lists.isEmpty(child.children)}">
                                                <div th:classappend="${not #lists.isEmpty(child.children) ? 'hv-item-parent' : 'hv-item-children'}">
                                                    <div class="person">
                                                        <img th:src="${child.photoStr}" alt="">
                                                        <p class="name" th:text="${child.name}">
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="hv-item-child"
                                                     th:replace="this::fragment_node(${child})"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

</body>

<footer th:include="/common/footer"></footer>

</html>